# 第六课 数据分析工具Pandas高阶
## 第三节 分组操作(1) -- GroupBy对象及常用聚合操作

In [18]:
import pandas as pd

In [19]:
# 文件路径
filepath = './datasets/2016_happiness.csv'

* 读取文件

In [3]:
data = pd.read_csv(filepath, usecols=['Country', 'Region', 'Happiness Rank', 'Happiness Score'])

In [4]:
# 数据预览
data.head()

       Country          Region  Happiness Rank  Happiness Score
0      Denmark  Western Europe               1            7.526
1  Switzerland  Western Europe               2            7.509
2      Iceland  Western Europe               3            7.501
3       Norway  Western Europe               4            7.498
4      Finland  Western Europe               5            7.413

* groupby()

In [9]:
# 按单列分组
obj1 = data.groupby('Region')
print(type(obj1))

<class 'pandas.core.groupby.groupby.DataFrameGroupBy'>

In [10]:
# 按多列分组
obj2 = data.groupby(['Region', 'Country'])
print(type(obj2))

<class 'pandas.core.groupby.groupby.DataFrameGroupBy'>

* 常用的聚合操作

In [11]:
obj1.mean()

                                 Happiness Rank  Happiness Score
Region
Australia and New Zealand              8.500000         7.323500
Central and Eastern Europe            78.448276         5.370690
Eastern Asia                          67.166667         5.624167
Latin America and Caribbean           48.333333         6.101750
Middle East and Northern Africa       78.105263         5.386053
North America                          9.500000         7.254000
Southeastern Asia                     80.000000         5.338889
Southern Asia                        111.714286         4.563286
Sub-Saharan Africa                   129.657895         4.136421
Western Europe                        29.190476         6.685667

In [13]:
obj1.max()

,Country,Happiness Rank,Happiness Score
Region,,,
Australia and New Zealand,New Zealand,9,7.334
Central and Eastern Europe,Uzbekistan,129,6.596
Eastern Asia,Taiwan,101,6.379
Latin America and Caribbean,Venezuela,136,7.087
Middle East and Northern Africa,Yemen,156,7.267
North America,United States,13,7.404
Southeastern Asia,Vietnam,140,6.739
Southern Asia,Sri Lanka,154,5.196
Sub-Saharan Africa,Zimbabwe,157,5.648
Western Europe,United Kingdom,99,7.526

In [15]:
obj1.size()

Region
Australia and New Zealand           2
Central and Eastern Europe         29
Eastern Asia                        6
Latin America and Caribbean        24
Middle East and Northern Africa    19
North America                       2
Southeastern Asia                   9
Southern Asia                       7
Sub-Saharan Africa                 38
Western Europe                     21
dtype: int64

In [17]:
obj1.count()

                                 Country  Happiness Rank  Happiness Score
Region
Australia and New Zealand              2               2                2
Central and Eastern Europe            29              29               29
Eastern Asia                           6               6                6
Latin America and Caribbean           24              24               24
Middle East and Northern Africa       19              19               19
North America                          2               2                2
Southeastern Asia                      9               9                9
Southern Asia                          7               7                7
Sub-Saharan Africa                    38              38               38
Western Europe                        21              21               21

In [16]:
obj2.size()

Region                      Country
Australia and New Zealand   Australia                 1
                            New Zealand               1
Central and Eastern Europe  Albania                   1
                            Armenia                   1
                            Azerbaijan                1
                            Belarus                   1
                            Bosnia and Herzegovina    1
                            Bulgaria                  1
                            Croatia                   1
                            Czech Republic            1
                            Estonia                   1
                            Georgia                   1
                            Hungary                   1
                            Kazakhstan                1
                            Kosovo                    1
                            Kyrgyzstan                1
                            Latvia                    1
                            Lithuania                 1
                            Macedonia                 1
                            Moldova                   1
                            Montenegro                1
                            Poland                    1
                            Romania                   1
                            Russia                    1
                            Serbia                    1
                            Slovakia                  1
                            Slovenia                  1
                            Tajikistan                1
                            Turkmenistan              1
                            Ukraine                   1
                                                     ..
Sub-Saharan Africa          Somaliland Region         1
                            South Africa              1
                            South Sudan               1
                            Sudan                     1
                            Tanzania                  1
                            Togo                      1
                            Uganda                    1
                            Zambia                    1
                            Zimbabwe                  1
Western Europe              Austria                   1
                            Belgium                   1
                            Cyprus                    1
                            Denmark                   1
                            Finland                   1
                            France                    1
                            Germany                   1
                            Greece                    1
                            Iceland                   1
                            Ireland                   1
                            Italy                     1
                            Luxembourg                1
                            Malta                     1
                            Netherlands               1
                            North Cyprus              1
                            Norway                    1
                            Portugal                  1
                            Spain                     1
                            Sweden                    1
                            Switzerland               1
                            United Kingdom            1
Length: 157, dtype: int64